<div class="container">
  <h1>Ask me anything !</h1>
  <div class="mb-3">
    <form class="form-group"action="/answer" data-turbo="false">
      <input class="form-control" id="inputText" type="text" name="question">
      <input class="btn btn-primary" type="submit" value="Ask!">
    </form>
  </div>
</div>
